#header
{
    margin-top:20px;
    margin-left:500px;
    color:red;
    font-size: 23px;
}
body{
    overflow-y:scroll;
}
#lug_space,#seat,#cleanliness
{
    margin-left:500px;
    color: #000080;
    font-size: 18px;
    
}

#a,#b,#c,#d{
    margin-left:508px;
    color: #000080;
    font-size: 18px;
}
button{
    font-size: 19px;
}
